
* {
    box-sizing: border-box;
 }
 
p {
    text-indent: 15px;
}

a:hover {
    color:rgb(245, 116, 99); 
    text-decoration: none;
    transition: all.6s ease;
}
a:active {color:rgb(101, 168, 231);}

.logo {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(43, 150, 238);
    text-decoration: none;
    margin-left: 10px;
    float: left;
    }
.right {
    float: right;
    margin-top: 20px;
}
.right img {
    width: 18%;
    margin: 1px;
}
.menu {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    border-top: 2px solid #ccc;
    background-color: #ccc;
    border-radius: 15px;
}

.nav__list {
    font-size: 1.1875rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav__link {
text-decoration: none;
color: rgb(99, 110, 122);
padding: 0.5rem;
display: block;
}

h2 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
}

.column {
    float: left;
    margin-top: 20px;
}
.main-info {
    width: 70%;
    margin-left: 10px;
    text-align: justify;
    font-size: 18px;
}
#main-picture {
    width: 100%;
    margin-right: 6px;
    margin-bottom: 2px;
    border-radius: 20px;
}

.additional-info {
    width: 25%;
    margin-left: 15px;
    border: 2px solid #ccc;
    padding: 3px;
    border-radius: 15px;
    background-color:  #f7f7f7;
    font-size: 18px;
    line-height: 200%;
}

.grid__item {
    width: 95%;
    padding: 5px;
    position: relative;
    text-align: center;
    }     
.grid__item img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid rgb(148, 213, 233);
    opacity: 0.9;
}
.grid__text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
.more_info {
display: flex;
}
.abc{
    flex:50%;
    text-align: center;
    margin: 5px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 15px;
    text-align: left;
    background-color:  #f7f7f7;
    font-size: 18px;
}
.footer{
    clear: both;
    background: rgb(214, 209, 209);
    color: white;
    font-weight: bold;
    text-align: center;
    max-width: 100%;
    padding: 1rem 0;
    margin-top: 4rem;
}
.right__footer {
    float: right;
    margin: 0;
    margin-right: 2rem;
}